<header>
  <nav class="top-nav" style="background-color:#b1fbe72e;">
    <div class="nav-wrapper" style="margin-left: 260px;">
      <%= form_tag search_path, url: { controller: 'events' }, method: 'post' do %>
          <div class="input-field">
            <%= search_field_tag :search, params[:search], id: "search", placeholder: 'Buscar Eventos' %>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
      <% end %>
    </div>
  </nav>
  <ul style="width:260px; margin-top:65px;" class="side-nav fixed">
    <li><a href="/events/my">Meus Eventos</a></li>
    <li><a href="#">Eventos com Interesse</a></li>
    <li><a href="#">Festas</a></li>
    <li><a href="#">Gastronomia</a></li>
    <li><a href="#">Feiras</a></li>
    <li><a href="#">Festivais</a></li>
    <li><a href="#">Adoções</a></li>
  </ul>
  <div class="display-4" style="margin-left: 270px;">
    <center><header><h3 class="display-4">Eventos buscados</h3></header></center><br>
    <div class="row center-cols">
      <% if @events.present? %>
        <% @events.each do |event| %>
          <div class="col m4">
            <div class="card">
              <div class="card-image">
                <%= image_tag event.image.url %>
                <span class="card-title"><%= event.name %></span>
              </div>
              <div class="card-content">
                <p>Endereço: <%=event.address%></p>
                <p>Número: <%=event.number%></p>
                <% if logged_in? %>
                <p> Preço: R$ <%= event.price %></p>
                <% else %>
                  Preço: <font color="green">FAÇA LOGIN</font>
                <% end %></p>
                <p>Data: <%=event.date.strftime('%d/%m/%Y') %></p>
                <p>Hora de início: <%=event.initial_time.strftime('%H:%M')%></p>
                <p>Hora de fim: <%=event.final_time.strftime('%H:%M')%></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
      <center><br><h5>Nenhum evento encontrado :(</h5></center>
      <% end %>
    </div>
  </div>
</header>
